### q1 - PRINT EMPTY DICTIONARY

In [3]:
dict1={}
dict1

{}

### q2 - dictionary with same data type

In [4]:
dict1={1:'A',2:'B'}
dict1

{1: 'A', 2: 'B'}

### q3 - dictionary with multiple data types

In [5]:
dict2={1:'A',"AB":2,'$':"XY1"}
dict2

{1: 'A', 'AB': 2, '$': 'XY1'}

### q4 -new element in a dictionary

In [6]:
dict1[3]="ABC"
dict1

{1: 'A', 2: 'B', 3: 'ABC'}

### q5 - update value in dictionary

In [10]:
dict1[1]='XYZ'
dict1

{1: 'XYZ', 2: 'B', 3: 'ABC'}

### q6 - clear items in a dictionary

In [13]:
dict2.clear()
dict2

{}

### q7 - printing a dictionary

In [14]:
for key,value in dict1.items():
    print(key,value)

1 XYZ
2 B
3 ABC

### q8 - concatination of dictionary

In [15]:
d1={1:'A',2:'B'}
d2={3:'C',4:'D'}
d3={5:'E',6:'F'}
d4={}
for d in d1,d2,d3:
    d4.update(d)
d4

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F'}

### q9 - nested dictionary

In [16]:
d1={1:'A',2:'B',3:('C','D'),4:['E','F','G','H'],5:{'A':1,'B':2,'C':3}}
d1

{1: 'A',
 2: 'B',
 3: ('C', 'D'),
 4: ['E', 'F', 'G', 'H'],
 5: {'A': 1, 'B': 2, 'C': 3}}

### q10 - printing a particular value

In [17]:
d1[5]['A']

1

### q11 -searching a key in a dictionary

In [20]:
Z=int(input('enter key'))
if Z in d1:
    print("element present")
else:
    print("element not present")

enter key2
element present

### q12 - print a table of 5

In [22]:
d1={}
for k in range(1,11):
    d1[k]=5*k
d1

{1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}

### q13 - print squares of key in range(1,10)

In [23]:
d2={}
for k in range(1,10):
    d2[k]=k*k
d2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### q14 - display factorial from range (1,10)

In [36]:
d3={}
fact=1
for k in range(1,10):
    fact=1
    for i in range(1,k+1):
        fact=fact*i
    d3[k]=fact
d3

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720, 7: 5040, 8: 40320, 9: 362880}

### q15 - print sum of values in dictionary

In [41]:
d1={'A':20,'B':60,'C':120}
d1['D']=d1['A']+d1['B']+d1['C']
d1

{'A': 20, 'B': 60, 'C': 120, 'D': 200}